@page
@model FoodForThoughtWeb.Pages.Account.ProfileModel
@{
	ViewData["Title"] = "Profile";

	Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
 <h1>@ViewData["Title"]</h1>

<style>
    /* Custom CSS for profile page */
    .profile-label {
        font-weight: bold;
        color: #333; /* Dark text color */
    }

    .profile-info {
        color: #666; /* Lighter text color */
    }

    .profile-container {
        background-color: #f9f9f9; /* Light gray background */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="profile-container">
    <div class="row m-2">
        <div class="col-2">
            <span class="profile-label">Username:</span>
        </div>
        <div class="col-10">
            <span class="profile-info">@Model.profile.Username</span>
        </div>
    </div>

    <div class="row m-2">
        <div class="col-2">
            <span class="profile-label">First Name:</span>
        </div>
        <div class="col-10">
            <span class="profile-info">@Model.profile.FirstName</span>
        </div>
    </div>

    <div class="row m-2">
        <div class="col-2">
            <span class="profile-label">Last Name:</span>
        </div>
        <div class="col-10">
            <span class="profile-info">@Model.profile.LastName</span>
        </div>
    </div>

    <div class="row m-2">
        <div class="col-2">
            <span class="profile-label">Email:</span>
        </div>
        <div class="col-10">
            <span class="profile-info">@Model.profile.Email</span>
        </div>
    </div>
</div>
